
    body {
      font-family: "Press Start 2P", cursive;
      background: #000;
      color: #0f0;
      margin: 0;
      padding: 1em;
    }
    body.theme-green {
  background-color: #000;
  color: #0f0;
}

body.theme-amber {
  background-color: #000;
  color: #ffbf00;
}

body.theme-blue {
  background-color: #000;
  color: #00bfff;
}


button, input {
  background: transparent;
  color: currentColor;
  border: 2px solid currentColor;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  cursor: pointer;
  padding: 4px 8px;
}

    h1 {
      font-size: 16px;
      margin-bottom: 1em;
      text-align: center;
    }
    details {
      background: #111;
      border: 2px solid currentColor;
      border-radius: 4px;
      margin-bottom: 0.5em;
      margin-left: 0.5em;
      padding: 0.5em;
    }
        #clock {
      font-size: 82px;
      margin-top: 1em;
      margin-bottom: 1em;
      text-align: center;
    }
    .highlight {
  background-color: currentColor;
  color: black;
  padding: 0 1px;
  font-weight: bold;
}
    #search {
      width: 98.3%;
      font-family: inherit;
      font-size: 12px;
      padding: 0.5em;
      margin-bottom: 3em;
      background: #111;
      border: 3px solid currentColor;
      color: currentColor;
      text-align: center;
    }
    summary {
      cursor: pointer;
      font-size: 14px;
      margin: -2em;
      padding: 2em;
    }

      #tabs {
      display: flex;
      flex-direction: column;
      flex-flow: row wrap;
      align-items:flex-start;
      padding: 0.25em 0.5em;
      margin: auto;
      cursor: pointer;
      user-select: none;
    }
    .tab {
      font-size: 16px;
      display: flex;
      align-items: center;
      padding: 0.25em 0.5em;
      margin-left: 1em;
      cursor: pointer;
      user-select: none;
    }
    .tab:hover {
      background: black;
    }
    .favicon {
      width: 13px;
      height: 13px;
      margin-right: 0.5em;
      image-rendering: pixelated;
    }
    #themeSelect {
  appearance: none;
  background: #000;
  border: 2px solid currentColor;
  color: inherit;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  padding: 4px 8px;
  cursor: pointer;
  width: 160px;
  position: relative;
}

#themeSelect:focus {
  outline: none;
  border-color: #fff;
}

#themeSelect option {
  background: #000;
  color: inherit;
  font-family: 'Press Start 2P', monospace;
  font-size: 12px;
  padding: 4px 8px;
}
#scanlines {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0,0,0,0) 0px,
    rgba(0,0,0,0) 2px,
    rgba(0,0,0,0.05) 2px,
    rgba(0,0,0,0.05) 4px
  );
  animation: scroll 1s linear infinite;
  z-index: 9998;
}

@keyframes scroll {
  0% { background-position-y: 0; }
  100% { background-position-y: 4px; }
}

     @media (max-width: 800px) {
    #tabs {
    flex-direction: column;
  }}